{% extends "base/base_template.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        <strong>Well done!</strong> {{ message }}.
        </div>
        <script type="text/javascript">
          $(".alert").delay(2000).slideUp(200, function() {
              $(this).alert('close');
          });
        </script>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container text-center">
  {% if headercontent %}
  <h4 style="background-color: #0BB48B; color:white;">{{headercontent}}</h4>
  {% endif %}
    <form method="post" class="margin">
      {% csrf_token %}
      <div class="row">
          <div class="col-3"></div>
          <div class="col" style="background-color:#0BB48B; text-align: center; font-weight: bold; color:white; text-transform: uppercase;">
            {{ form | crispy }}
            <input type="submit" name="_submit" value="SAVE" style="border-radius: 30%; padding: 10px 10px 10px 10px";>
          </div>
          <div class="col-3"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center"><h4>{{context.error}}</h4></div>
        <div class="col-2"></div>
      </div>
  </form>
</div>
{% endblock %}
