<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "base_template.css" %}">
    <link rel="stylesheet" href="{% static "datatable.css" %}">
    <script src="{% static 'datatable.js'%}"></script>
    <script src="{% static 'reports.js' %}"></script>
    <script src="{% static 'available_lorry.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'fontawesome.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'base_template.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'base_template_javascript.js' %}" crossorigin="anonymous"></script>
    {% block title %}<title>HOME</title>{% endblock %}
  </head>
  <body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0BB48B;">
          <a class="navbar-brand" style="color: white; font-weight:900;" href="{% url 'home' %}" >SBMLS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" style="color: white; font-weight:450;" href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a>
              </li>

              {% if user.is_authenticated and content_output == "M" %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ADD
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" onmouseover="mouseOver(0)" onmouseout="mouseOut(0)" href="{% url 'register_places' %}">ADD LOCATION</a>
                      <a class="dropdown-item" onmouseover="mouseOver(1)" onmouseout="mouseOut(1)" href="{% url 'register_vehicle_type' %}">ADD VEHICLE TYPE</a>
                      <a class="dropdown-item" onmouseover="mouseOver(2)" onmouseout="mouseOut(2)" href="{% url 'register_loadtype' %}">ADD LOAD TYPE</a>
                  </div>
              </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      REGISTRATION
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" onmouseover="mouseOver(3)" onmouseout="mouseOut(3)" href="{% url 'register_driver_view' %}">REGISTER DRIVER</a>
                          <a class="dropdown-item" onmouseover="mouseOver(4)" onmouseout="mouseOut(4)" href="{% url 'register_client' %}">REGISTER CLIENT</a>
                      </div>
                  </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  STAGING
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" onmouseover="mouseOver(5)" onmouseout="mouseOut(5)" href="{% url 'create_staging' %}">STAGE LORRY</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BOOKING
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onmouseover="mouseOver(6)" onmouseout="mouseOut(6)" href="{% url 'search_lorry' %}">CREATE BOOKING</a>
                        <a class="dropdown-item" onmouseover="mouseOver(7)" onmouseout="mouseOut(7)" href="{% url 'my_book' %}">MY BOOKING</a>
                        <a class="dropdown-item" onmouseover="mouseOver(8)" onmouseout="mouseOut(8)" href="{% url 'my_complete_option' %}">COMPLETE BOOKING</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      GENERATE-REPORT
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" onmouseover="mouseOver(9)" onmouseout="mouseOut(9)" href="{% url 'my_sale' %}">QUICK REPORT</a>
                          <a class="dropdown-item" onmouseover="mouseOver(10)" onmouseout="mouseOut(10)" href="{% url 'reportSearch' %}">CUSTOM REPORT</a>
                        </div>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle fas fa-bars style="background:grey ;border-radius:50%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <a class="dropdown-item" onmouseover="mouseOver(11)" onmouseout="mouseOut(11)" href="{% url 'user_logout' %}">Logout</a>
                     </div>
                  </div>
                </form>

                {% elif user.is_authenticated and content_output == "O" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    REGISTRATION
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onmouseover="mouseOver(0)" onmouseout="mouseOut(0)" href="{% url 'registerLorry' %}">REGISTER LORRY</a>
                        <a class="dropdown-item" onmouseover="mouseOver(1)" onmouseout="mouseOut(1)" href="{% url 'register_driver_view' %}">REGISTER DRIVER</a>
                    </div>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                STAGING
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" onmouseover="mouseOver(2)" onmouseout="mouseOut(2)" href="{% url 'create_staging' %}">STAGE LORRY</a>
                  </div>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  BOOKING
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" onmouseover="mouseOver(3)" onmouseout="mouseOut(3)" href="{% url 'search_lorry' %}">CREATE BOOKING</a>
                      <a class="dropdown-item" onmouseover="mouseOver(4)" onmouseout="mouseOut(4)" href="{% url 'my_book' %}">MY BOOKING</a>
                      <a class="dropdown-item" onmouseover="mouseOver(5)" onmouseout="mouseOut(5)" href="{% url 'my_complete_option' %}">COMPLETE BOOKING</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GENERATE-REPORT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onmouseover="mouseOver(6)" onmouseout="mouseOut(6)" href="{% url 'my_sale' %}">QUICK REPORT</a>
                        <a class="dropdown-item" onmouseover="mouseOver(7)" onmouseout="mouseOut(7)" href="{% url 'reportSearch' %}">CUSTOM REPORT</a>
                      </div>
                  </li>
              </ul>

              <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                   <button class="btn btn-secondary dropdown-toggle fas fa-bars style="background:grey ;border-radius:50%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="dropdown-item" onmouseover="mouseOver(8)" onmouseout="mouseOut(8)" href="{% url 'user_logout' %}">Logout</a>
                   </div>
                </div>
              </form>

          {% elif user.is_authenticated and content_output == "A" %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADD
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" onmouseover="mouseOver(0)" onmouseout="mouseOut(0)" href="{% url 'register_places' %}">ADD LOCATION</a>
                  <a class="dropdown-item" onmouseover="mouseOver(1)" onmouseout="mouseOut(1)" href="{% url 'register_vehicle_type' %}">ADD VEHICLE TYPE</a>
                  <a class="dropdown-item" onmouseover="mouseOver(2)" onmouseout="mouseOut(2)" href="{% url 'register_loadtype' %}">ADD LOAD TYPE</a>
              </div>
          </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  REGISTRATION
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" onmouseover="mouseOver(3)" onmouseout="mouseOut(3)" href="{% url 'register_driver_view' %}">REGISTER DRIVER</a>
                      <a class="dropdown-item" onmouseover="mouseOver(4)" onmouseout="mouseOut(4)" href="{% url 'register_client' %}">REGISTER CLIENT</a>
                  </div>
              </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              STAGING
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" onmouseover="mouseOver(5)" onmouseout="mouseOut(5)" href="{% url 'create_staging' %}">STAGE LORRY</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BOOKING
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" onmouseover="mouseOver(6)" onmouseout="mouseOut(6)" href="{% url 'search_lorry' %}">CREATE BOOKING</a>
                    <a class="dropdown-item" onmouseover="mouseOver(7)" onmouseout="mouseOut(7)" href="{% url 'my_book' %}">MY BOOKING</a>
                    <a class="dropdown-item" onmouseover="mouseOver(8)" onmouseout="mouseOut(8)" href="{% url 'my_complete_option' %}">COMPLETE BOOKING</a>
                  </div>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: white; font-weight:450;" href="{% url 'option' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  GENERATE-REPORT
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" onmouseover="mouseOver(9)" onmouseout="mouseOut(9)" href="{% url 'my_sale' %}">QUICK REPORT</a>
                      <a class="dropdown-item" onmouseover="mouseOver(10)" onmouseout="mouseOut(10)" href="{% url 'reportSearch' %}">CUSTOM REPORT</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
              <div class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle fas fa-bars style="background:grey ;border-radius:50%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" onmouseover="mouseOver(11)" onmouseout="mouseOut(11)" href="{% url 'user_logout' %}">Logout</a>
                 </div>
              </div>
            </form>

          {% else %}
            </ul>
            <div class="dropdown">
               <button class="btn btn-secondary dropdown-toggle fas fa-bars style="background:grey ;border-radius:50%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" onmouseover="mouseOver(0)" onmouseout="mouseOut(0)" href="{% url 'user_login' %}">LogIn</a>
               </div>
            </div>
          </form>

            {% endif %}

          </div>
        </nav>
      </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
